<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SkillShareApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Btlandroid"
        tools:targetApi="31">
            android:name=".ui.CommingSoonActivity"
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ChoKetNoiActivity"
            android:exported="false" />
        <activity
            android:name=".KetNoiCongDongActivity"
            android:exported="false" />
        <activity
            android:name=".HoTroActivity"
            android:exported="false" />
        <activity
            android:name=".CanHoTroActivity"
            android:exported="false" />
        <activity
            android:name=".KetNoiActivity"
            android:exported="false"
            android:theme="@style/Theme.Btlandroid" />
        <activity
            android:name=".TrangChuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.post.NewPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".Manhinhdangnhap"
            android:exported="false" />
        <activity
            android:name=".Manhinhdangky"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>